/* General */

.tab-area-section {
  display: none !important;
}

.tab-area-section.active {
  display: inherit !important;
}

/* Start Page */

.start-page .window {
  background: #333;
  color: #eee;
}

.start-page .pane {
  margin: 5px 25px;
}

.start-page form {
  display: grid;
  grid-template: 1fr 2fr / 1fr 1fr;
}

.start-page .password-section {
  margin: 0 auto;
  max-width: 600px;
  grid-column: 1 / span 2;
}

.start-page label {
  font-weight: bold;
}

.start-page input {
  color: #333;
}

.lower-start-page-block {
  border: 1px solid #eee;
  margin: 0.5em;
  padding: 0 1em;
}

.start-page button {
  zoom: 1.2;
}

.start-page.autolaunch-mode .hidden-on-autolaunch {
  display: none !important;
}

.start-page.autolaunch-mode form {
  grid-template: 1fr / 1fr;
}

/* Editor Page */

tr.selected td,
tr.selected th {
  background-color: rgba(255, 255, 0, 0.3);
}

#editor-tab-screens-area,
#editor-tab-displays-area,
#editor-tab-media-area {
  display: grid;
  height: 100%;
  grid-template: 1fr 1em 1fr / 1fr;
}

#selected-screen, #selected-display, #selected-media-item {
  border-top: 1px solid #ddd;
  padding: 0.5em 0.25em;
}

#selected-media-item img {
  max-width: 50vw;
  max-height: 50vh;
}

label.inline {
  display: grid;
  grid-template-columns: 14em 1fr;
  align-items: center;
}

label.inline > :first-child {
  font-weight: bold;
  text-align: right;
  padding-right: 0.5em;
}

.CodeMirror {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-control[disabled] {
  background: #ddd;
}
