* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

[v-cloak] {
  display: none;
}

/* Screens (universal) */

.screen,
.screen * {
  cursor: none;
  user-select: none;
}

.screen.simulator,
.screen.simulator * {
  cursor: default;
}
