const firebaseConfig = {
  apiKey: "APIKEY",
  authDomain: "PROJECTID.firebaseapp.com",
  databaseURL: "https://PROJECTID.firebaseio.com",
  projectId: "PROJECTID",
  storageBucket: "",
  messagingSenderId: "SENDERID"
};
firebase.initializeApp(firebaseConfig);

const storage = firebase.app().storage('gs://PROJECTID.appspot.com');

const updateUrl = false; // set to a string with version updates
