#bottom-menu-template {
  width: 1920px;
  height: 1080px;
  display: grid;
  grid-template: 9fr 1fr / 1fr;
  font-family: sans-serif;
}

/* Content */

main {
  background: radial-gradient(ellipse at center, #fff 10%,#ddd 100%);
  padding: 2.5vw;
  color: #333;
}

main section {
  display: none;
  grid-template: 1fr / 1fr 10fr 1fr;
}

main section.current {
  display: grid;
}

.page-left, .page-right {
  height: 78vh;
}

.page-left {
  margin-right: 1vw;
}

.page-right {
  margin-left: 1vw;
}

main h1 {
  font-size: 5.5vh;
  text-transform: uppercase;
  font-weight: normal;
  color: #555;
  margin: 0 0 2vh;
}

/* Menu */

nav {
  background: #1A140F;
  display: flex;
}

nav a {
  color: #555;
  text-align: center;
  flex-grow: 1;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 3.5vh;
  line-height: 9vh;
  padding: 1vh 0;
  border-bottom: 1vh solid transparent;
}

nav a.current {
  color: #ccc;
  border-bottom-color: #7D141E;
  background: #2B1C10;
}
