<div class="bottom-menu-template-form">
  <table class="bottom-menu-template-form-pages">
    <thead>
      <tr>
        <th class="page-name-column">Page</th>
        <th class="page-content-column">Content</th>
        <th class="page-actions-column">Actions</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <button class="btn btn-default" id="bottom-menu-template-form-add-page">Add a Page</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<style>
  .page-name-column {
    width: 18em;
  }

  .page-actions-column {
    width: 8em;
  }
</style>