<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>BodLight | Editor</title>
  <link rel="stylesheet" href="../css/bodlight-universal.css" />
  <link rel="stylesheet" href="../node_modules/photonkit/dist/css/photon.css" class="not-for-screens" />
  <link rel="stylesheet" href="../css/bodlight.css" class="not-for-screens" />
</head>
<body class="editor-page">
  <div class="window">
    <div class="window-content">
      <div class="pane-group">
        <div class="pane" id="editor">
          <div class="tab-group" id="editor-tabs">
            <div class="tab-item" id="editor-tab-screens" data-tab-area-id="editor-tab-screens-area">
              Screens
            </div>
            <div class="tab-item" id="editor-tab-displays" data-tab-area-id="editor-tab-displays-area">
              Displays
            </div>
            <div class="tab-item" id="editor-tab-media" data-tab-area-id="editor-tab-media-area">
              Media
            </div>
          </div>

          <div class="tab-area">
            <div class="tab-area-section" id="editor-tab-screens-area">
              <table class="table-striped" id="screens-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Display</th>
                    <th>Resolution</th>
                    <th>Version</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="screen, name in screens">
                    <td>
                      <span v-if="(serverTime - screen.lastSeen) <= 60000">
                        <span class="icon icon-record" style="color:#34c84a"><!-- online --></span>
                      </span>
                      <span v-else>
                        <span class="icon icon-record" style="color:#fc605b"><!-- offline --></span>
                      </span>
                      {{ name }}
                    </td>
                    <td>{{ screen.display }}</td>
                    <td>{{ screen.resolution.width }} &times; {{ screen.resolution.height }}</td>
                    <td>{{ screen.version }}</td>
                  </tr>
                </tbody>
              </table>
              <div id="add-new-screen-form"></div>
              <div id="selected-screen" v-show="screens[selectedScreen]">
                <h2>{{ selectedScreen }}</h2>
                <p>
                  <select class="form-control" id="selected-screen-display" data-field-id="display">
                    <option value=""></option>
                    <option v-for="display, name in displays" :value="name">{{ name }}</option>
                  </select>
                </p>
                <p v-if="screens[selectedScreen] && screens[selectedScreen].resolution">
                  {{ screens[selectedScreen].resolution.width }} &times; {{ screens[selectedScreen].resolution.height }}
                </p>
                <p v-if="screens[selectedScreen] && screens[selectedScreen].version">
                  {{ screens[selectedScreen].version }}
                </p>
                <p>
                  <button class="save btn btn-default">Save</button>
                  <button class="simulate btn btn-default">Simulate</button>
                </p>
              </div>
            </div>

            <div class="tab-area-section" id="editor-tab-displays-area">
              <table class="table-striped" id="displays-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Template</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="display, name in displays">
                    <td>
                      {{ name }}
                    </td>
                    <td>{{ display.template }}</td>
                  </tr>
                </tbody>
              </table>
              <div id="add-new-display-form"></div>
              <div id="selected-display" v-show="displays[selectedDisplay]">
                <h2>{{ selectedDisplay }}</h2>
                <div id="selected-display-form"></div>
                <p>
                  <button class="save btn btn-default">Save</button>
                </p>
              </div>
            </div>

            <div class="tab-area-section" id="editor-tab-media-area">
              <table class="table-striped" id="media-table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="mediaItem, id in mediaItems">
                    <td>{{ id }}</td>
                    <td>{{ mediaItem.name }}</td>
                    <td>{{ mediaItem.contentType }}</td>
                  </tr>
                </tbody>
              </table>
              <div id="add-new-media-form">
                <button class="btn btn-default" id="add-media">Add Media</button>
              </div>
              <div id="selected-mediaItem" v-show="mediaItems[selectedMediaItem]">
                <h2>{{ selectedMediaItem }}</h2>
                <p>
                  <button class="save btn btn-default">Save</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
  <script type="text/javascript" src="../js/firebase.js"></script>
  <script type="text/javascript" src="../js/jquery-3.2.1.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
  <script type="text/javascript" src="../js/bodlight.js"></script>
</body>
</html>