<div class="image-slider-template-form">
  <label class="inline">
    <span>Delay (ms):</span>
    <input type="number" min="1500" id="display-delay" class="form-control" />
    <span></span>
    <small>How long to show each image before moving to the next one.</small>
  </label>

  <label class="inline">
    <span>Show clock?</span>
    <select id="display-clock" class="form-control">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <span></span>
    <small>If shown, clock consumes top 10% of screen, so a 1080&times;1920 screen for example would have 1080&times;1728 of remaining usable space.</small>
  </label>

  <label class="inline">
    <span>Images:</span>
    <ul class="image-slider-template-list">
      <li class="image-slider-template-list-tail">
        <select class="form-control"></select>
      </li>
    </ul>
  </label>
</div>

<style>
  .image-slider-template-list {
    list-style: none;
    padding-left: 0;
  }
</style>