* {
  overflow: hidden;
}

body {
  zoom: 1 !important; /* zoom simulation not required; this template uses dynamic sizing */
}

.image-slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  transition: left 1.2s cubic-bezier(0.65, 0, 0.38, 1.27);
}

.image {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

/* Date/time clock */

.clock {
  position: absolute;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  background: #1a140f;
  color: #7d807e;
  line-height: 10vh;
  font-size: 7vh;
  font-family: sans-serif;
}

.clock-style-1 { /* time clock */
  text-align: right;
  padding-right: 0.25em;
}

.clock-style-2 { /* date clock */
  text-align: left;
  padding-left: 0.25em;
}

.image-slider.with-clock {
  top: 10vh;
  height: 90vh;
}

.image-slider.with-clock .image {
  height: 90vh;
}
